body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav__design {
  background-color: #dee2e6;
  padding: 20px;
  color: #ffffff;
}

.pages__design {
  position: relative;
  top: 66px;
}
.pages__design_bottom {
  position: relative;
  bottom: 66px;
}
.ddd {
  display: none;
}
/* .button:hover + .ddd {
  display: block;
} */

.button:hover > .ddd {
  display: block;
}

.avatar {
  margin: 5px;
  border-radius: 50%;
}
.panel {
  border: 1px solid #aaa;
  border-radius: 6px;
  margin-top: 20px;
  padding: 10px;
  width: 200px;
}

.btn_blue {
  background-color: #1976d2; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn_red {
  background-color: #c2185b; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
